.env
.vs/
.vscode/*

node_modules/
**/node_modules/
dist/
build/
.eslintcache
*.log

**/bin/
**/obj/
appsettings.Development.json
appsettings.*.json

postgres_data/
**/postgres_data/
n8n_data/
**/n8n_data/
*.sqlite

agendai-dados.sql
